### Sass ###
maquetado/.sass-cache/
maquetado/.scss-cache/
maquetado/*.css.map
maquetado/*.sass.map
maquetado/*.scss.map
maquetado/*.css

## System ##
.DS_Store

## Editor Settings ##
maquetado/.vscode/settings.json
