$content-size: 1200px;
$nav-height: 90px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$tech-list-size: 900px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

@import 'equalizer';
@import 'colors';
@import 'styles';
@import 'titles';
@import 'tech';
@import 'navbar';
@import 'footer';
