.nav {
  align-items: center;
  background: $white;
  box-shadow: 0px 5px 10px $grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  left: 0;
  padding: 18px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-logo {
  height: $nav-logo-height;
}
