body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
  padding: $nav-height 0;
}

.tech-area {
  margin: 65px 0;
}

.tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  max-width: $tech-list-size;
  width: 100%;
}

.tech-box {
  margin: 0 auto;
  
  &:first-child{
    border-right: 2px solid $green;
    grid-row: 1/3;
  }
}

@media only screen and (max-width: 1024px){
  .nav-title{
    display: none;
  }

  .tech-area-title{
    margin: 0;
    padding: 0 40px;
  }

  .tech-list{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .tech-box {
    &:not(:last-child){
      border-bottom: 2px solid $green;
      border-right: none;
    }
  }
}
