body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
  padding: $nav-height 0;
}

.tech-area {
  margin: 65px 0;
}

.tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 70px;
  margin: 0 auto;
  max-width: $tech-list-size;
  width: 100%;
}

.tech-box {
  margin: 0 auto;
  
  &:first-child{
    border-right: 2px solid $green;
    grid-row: 1/3;
  }
}
