body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
  padding: $nav-height 0;
}

.tech-area {
  margin: 65px 0;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;

  .tech-box {
    margin: 16px;
  }
}
