.tech-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  text-align: center;
  width: 230px;
}

.tech-box-logo {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.tech-box-title{
  margin: 10px 0;
}

.tech-box-release {
  font-weight: 900;
}

.tech-box-info{
  margin: 20px 0 0;
}
